@import "@/styles/variables.scss";
@import "@/components/Input/Input.scss";
@import "@/components/Button/Button.scss";

.content {
  font-family: $font-roboto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  &__avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
    p {
      font-size: 18px;
      font-weight: normal;
      cursor: pointer;
      a {
        text-decoration: none;
        color: $primary-color;
      }
    }
  }
  &__settings-form {
    color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 450px;
    width: 100%;

    &__title {
      font-size: $title-font-size;
      font-weight: bold;
      text-align: center;
      margin-bottom: 40px;
      color: $primary-color;
    }
    &__buttons-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: auto;
      margin-bottom: 10px;
      p {
        font-size: 12px;
        font-weight: normal;
        cursor: pointer;
        a {
          text-decoration: none;
          color: $primary-color;
        }
      }
      .logout-btn {
        a {
          text-decoration: none;
          color: $highlight-color;
        }
      }
    }
  }
}
