@import "./variables.scss";
// @import "./components/Button/Button.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app {
  background-color: $white-color;
  font-family: $font-roboto;
  color: $primary-color;
  height: 100%;
}
body {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}
.page-container {
  width: 100%;
  height: 100%;
}
.error {
  border-bottom: 1px solid $highlight-color !important;
}
