@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

//  font variables
$font-roboto: "Roboto", sans-serif;

//  font size variables
$title-font-size: 28px;

//  color variables
$primary-color: #494b67;
$secondary-color: #a6b4fe;
$accent-color: #c6c6c6;
$highlight-color: #db4545;
$black-color: #000000;
$white-color: #ffffff;
